.vs/
[Db]obj/
[Db]bin/
*.user
*.suo
/Main/CrossingGame.sln
/Main/CrossingGame.vcxproj
/Main/CrossingGame.vcxproj.filters
/CrossingGame.sln
/CrossingGame.vcxproj
/CrossingGame.vcxproj.filters
/CrossingGame/x64/Debug
/include
/lib
/x64/Debug
context/
context.txt
