# Visual Studio temporary files & caches
/.vs/
*.user
*.suo
*.db
*.opendb

# Root build output directories
/bin/
/obj/
/x64/
/x86/
/Debug/
/Release/
/build/
/out/
/cmake-build-*/

# Compiler intermediate files & debug symbols
*.obj
*.o
*.pdb
*.idb
*.tlog
*.log
*.ilk
*.manifest
*.res
*.lastbuildstate

# SFML doc & examples (not needed in repo to keep size lean)
SFML-3.1.0/doc/
SFML-3.1.0/examples/
SFML-3.1.0/lib/*.pdb

# Save files & temp files
*.crossgame
save*.crossgame
*.zip
context/
context.txt
.idea/
.DS_Store
/Presentation_Guide.txt
